body {
    background-color: #222222;
    font-family: "Exo Web", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    margin-left: 20px;
}

.logo img {
    padding-top: 50px;
    height: auto;
    width: 300px;
}