/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* All Archives Page */


/* Submit a Quote Page */

.quote-submission-wrapper {
    font-size: 20px;
}

// 404 page
.error-404 .page-header h1 {
    font-size: 20px;
    margin: .67em 0;
    p {
        font-size: 16px;
    }
}

// search form